
.home-page {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
/*border: 10px solid red;*/
}

.login-screen {
  position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/splash_background.svg');
    background-size: 100%;
    text-align: center;
}

.splash-logo {
  background: url('./assets/logo_white.svg') no-repeat;
  background-size: 30%;
  background-position: bottom center;
  height: 50%;
  width: 100%;
}

.login-button {
  /*background-size: 13%;*/
  /*background-position: center;*/
  padding-top: 5%;
  height: 50%;
  width: 100%;
}

/*.ui.teal.button{
  background: url('./assets/splash_button_facebooklogin.svg') no-repeat;
  background-position: center;
  width: 15%;
  height: 10%;
}*/




/*.login-screen {
    background: url('./assets/splash_background.svg');
    background-size: 100%;
}*/

::selection {
  background:teal;
}

.left-column {
  width: 15%;
  height: 100%;
  background: black;
  float: left;
}

.right-column {
  width: 85%;
  height: 100%;
  float: left;
}

.featured-content {
  width: 100%;
  height: 50%;
  background: #404040;
  border-bottom: solid;
  border-width: medium;
  border-color: #A0A0A0;
}

.logo-container {
  height: 38.5%;
  border-bottom: solid;
  border-width: medium;
  border-color: #A0A0A0;
}

.featured-links-container {
  height: 62%;
  color: white;
  text-align: center;
  padding-top: 5%;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: transparent;
}

.ui.inverted.button {
  width: 75%;
  border-radius: 15px;
}

.ui.inverted.button:hover {
  background: white !important;
  /*border: 1px solid yellow;*/
}

.lists-user {
  width: 100%;
  height: 50%;
  background: #404040;
}

.lists {
  color: white;
  text-align: center;
  padding-top: 5%;
  height: 80%;
  border-bottom: solid;
  border-width: medium;
  border-color: #A0A0A0;
  overflow-y: auto;
}

.new-list-submit {
  padding-top: 4px;
}

.delete-list-button {
  padding-top: 2%;
  padding-bottom: 2%;
}

.add-user-button {
  text-align: center;
}

.user {
  /*text-align: center;*/
  /*padding-top: 2%;*/
  /*color: white;*/
  height: 20%;
}

.user-name-container {
  width: 100%;
  height: 25%;
}

.user-name {
  padding-top: 3%;
  color: white;
  text-align: center;
}

.logout-container {
  /*text-align: center;*/
  height: 75%;
}

.user-image-container {
  float: left;
  text-align: center;
  /*border: 2px solid white;*/
  height: 100%;
  width: 50%;
}

.logout-button-container {
  float:  left;
  text-align: center;
  /*border: 2px solid white;*/
  height: 100%;
  width: 50%;
}

.user-image {
  border: 2px solid white;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 20%;
}

.logout-button {
  margin-top: 11%;
  margin-right: 35%;
}

.search {
  height: 19%;
  background: black;
  border-bottom: solid;
  border-width: medium;
  border-color: #A0A0A0;
}

.search-box-container {
  text-align: center;
  height: 50%;
  width: 100%;
}

.search-box {
  padding-top: 3%;
  width: 80%;
}

.filter-buttons-container {
  text-align: center;
  height: 50%;
  width: 100%;
}

.filter-buttons {
  padding-top: 1%;
}

.results {
  width: 100%;
  height: 80%;
  padding-left: 2%;
  padding-top: 2%;
  overflow-y: auto;
}

.friends-in-list {
  width: 100%;
  height: 50px;
  background: blue;
}

.results-container {
  /*background: red;*/
  /*text-align: center;*/
}

.add-friend-list {
  position: absolute;
  margin-left: 30%;
  margin-top: 10%;
  height: 40%;
  width: 20%;
  z-index: 1;
  background: white;
  border: 3px solid lightgrey;
  border-radius: 3%;
}

.friend-list {
  height: 85%;
  background: white;
  text-align: center;
  padding-top: 4%;
  border: 2px solid white;
  border-radius: 3%;
  color: black;
  overflow-y: scroll;
}

.friend-list-buttons {
  padding-top: 5%;
  /*text-align: center;*/
  height: 15%;
  background: lightgrey;
}

.save-friend-button {
  text-align: center;
  float: left;
  width: 50%;
  height: 100%;
}

.cancel-button {
  text-align: center;
  float: right;
  width: 50%;
  height: 100%;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 600px; /* Location of the box */
    padding-left: 15%;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
}

.modal-content-poster-container {
  width: 20%;
  height: 100%;
  float: left;
  text-align: center;
}

.modal-poster {
  height: 100%;
  max-width: 100%;
}

.modal-content-details-container {
  height: 100%;
  width: 50%;
  float: left;
  background: black;
}

.modal-content-details {
  width: 100%;
  height: 100%;
  text-align: left;
  overflow-y: auto;
  color: white;
}

.title {
  font-size: 225%;
}

.overview {
  font-size: 120%;
}

.close {
    /*background: red;*/
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 2%;
    height: 100%;
}

.video-content-container {
  /*background: green;*/
  width: 27%;
  height: 100%;
  padding-left: 1%;
  float: left;
}


.video-content {
  height: 100%;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

i.big.icon:hover {
  font-size: 2.3em;
  cursor: pointer;
}
